@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

*{
    list-style-type: none;
    text-decoration: none;
}
body{
    padding: 0;
    margin: 0;
    top: 0;
    left: 0;
    background-color: #121212;
    font-family: 'Poppins', sans-serif;
}
.between{
    justify-content: space-between;
}
.flex{
    display: flex;
    align-items: center;
}
.navbar{
    padding: 20px 10%;
    position: fixed;
    width: 100%;
    box-sizing: border-box;
    z-index: 1000;

}
.brand-text{
    font-size: 18px;
    color: white;
}
.brand-text img{
    width: 50px;
}
.brand-text span.a{
    font-size: 36px;
    color: #6C4EE2;
    font-weight: bold;
}
.brand-text span{
    font-size: 28px;
    color: #D4426E;
}
.brand-text img{
    margin-right: 15px;
}
ul.link-box li{
    margin: 0px 20px;
    font-size: 14px;
}
ul.link-box li a{
    color: white;
}
#content{
    width: 100%;
}
.img-bg img{
    width: 180%;
}
#scene{
    top: -30%;
    left: -30%;
}
.banner{
    height: 100vh;
    overflow: hidden;
}
.text-banner{
    position: absolute;
    color:white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text-banner h1{
    font-size: 64px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: center;
}
.text-banner p{
    width: 500px;
    text-align: center;
    margin: 0;
    padding: 0;
    text-shadow: 0px 0px 5px #D4426E;
}
a.button{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #6C4EE2;
    width: 200px;
    margin: 20px auto;
    padding: 13px 20px;
    color: #60E5A5;
    border-radius: 5px;
    font-size: 12px;
    box-sizing: border-box;
    box-shadow: 0px 0px 20px rgba(108, 78, 226, 0.562);
    border: 2px solid #6C4EE2;
    transition: background-color .3s ease-in-out;
}
a.button:hover{
    background-color: transparent;
    border: 2px solid #6C4EE2;
    cursor: pointer;
}
.square-top{
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 200px;
    background-color: #6C4EE2;
    z-index: -1;
}
.square-bottom{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 300px;
    height: 80px;
    background-color: #D4426E;
}



.mobile-menu ul.menu{
    display: none;
}

.aboutme{
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 100px 0px;
}
.aboutme .desc-box{
    position: relative;
    display: flex;
    align-items: center;
    padding: 0px 10%;
}
.aboutme .desc-box .desc-aboutme, .aboutme .desc-box .desc-familiar{
    position: relative;
    width: 50%;
}

.aboutme .desc-box .desc-aboutme img, .aboutme .desc-box .desc-familiar img{
    position: relative;
    
}
.aboutme .desc-box .desc-aboutme img{
    left: -60%;
    max-width: 1000px;
    object-position: center;
    object-fit: cover;
    opacity: 10%;
}
.aboutme .desc-box .desc-familiar img.bg{
    right: -50%;
    top: 0;
    object-position: center;
    object-fit: cover;
    max-width: 900px;
}
.aboutme .desc-box .desc-aboutme .desc{
    position: absolute;
    display: block;
    top: 50%;
    left: 0;
    color: white;
    transform: translateY(-50%);
    padding: 20px;
}
.button.button-cnt{
    margin: 0;
    
}
.aboutme .desc-box .desc-familiar .familiar-box{
    padding: 20px;
    position: absolute;
    display: block;
    top: 50%;
    left: 20%;
    transform: translateY(-50%);
    color: white;
}
.aboutme .desc-box .desc-familiar .familiar-box div img.tools-icon:hover{
    transform: scale(1.2);
    transition: transform .3s cubic-bezier(.68,-0.55,.22,2.41);
    cursor: pointer;
}
.aboutme .desc-box .desc-familiar .familiar-box div.html{
    position: relative;
    transform: translate(30%, 84%) rotate(39deg);
}
.aboutme .desc-box .desc-familiar .familiar-box div.css{
    position: relative;
    transform: translate(100%, 140%) rotate(-27deg);
}
.aboutme .desc-box .desc-familiar .familiar-box div.js{
    position: relative;
    transform: translate(15%, 85%) rotate(-39deg);
}
.aboutme .desc-box .desc-familiar .familiar-box div.ai{
    position: relative;
    transform: translate(200%, -140%) rotate(16deg);
}
.aboutme .desc-box .desc-familiar .familiar-box div.figma{
    position: relative;
    transform: translate(60%, 150%) rotate(23deg);
}
img.tools-icon{
    width: 50px;
}
.percentage-box{
    position: absolute;
    background-color: #6C4EE2;
    border-radius: 5px;
    padding: 8px 15px;
    box-sizing: border-box;
    width: 100%;
    transform: scale(0);
    transition: transform .4s cubic-bezier(.68,-0.55,.27,1.55);
}
.aboutme .desc-box .desc-familiar .familiar-box div:hover{
    cursor: pointer;
}
.aboutme .desc-box .desc-familiar .familiar-box div:hover .percentage-box{
    transform: scale(1);
}
.percentage-box p{
    font-size: 10px;
    padding: 0;
    margin: 0;
}
.percentage-box .percentage{
    position: relative;
    border-radius: 5px;
    padding: 5px;
    background-color: #121212;
}
.percentage-box .percentage .value{
    position: relative;
    width: 100%;
    height: 3px;
    background-color: #D4426E;
    border-radius: 5px;
}
.percentage-box .percentage .value::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 3px;
    background-color: #60E5A5;
}
.percentage-box .percentage .value.value-html::before{
    width: 93%;
}
.percentage-box .percentage .value.value-css::before{
    width: 93%;
}
.percentage-box .percentage .value.value-js::before{
    width: 40%;
}
.percentage-box .percentage .value.value-ai::before{
    width: 75%;
}
.percentage-box .percentage .value.value-figma::before{
    width: 70%;
}

@media only screen and (min-width: 768px){
    .mobile-menu .medsos{
        position: absolute;
        bottom: 0;
        left: 0;
        padding: 0px 10%;
    }
    .mobile-menu .medsos .icon{
        display: flex;
        align-items: center;
        margin: 20px;
        position: relative;
        padding: 10px;
        transition: opacity .4s, background-color .4s, padding .4s;
        border-radius: 3px;
    }
    .mobile-menu .medsos .icon svg{
        width: 20px;
        fill: white;
    }
    .mobile-menu .medsos .icon label{
        position: absolute;
        top: 50%;
        left: 65%;
        transform: translate(0%, -50%);
        color: white;
        font-size: 12px;
        opacity: 0;
        transition: opacity .4s, margin .4s;
    }
    .mobile-menu .medsos .icon:hover{
        padding-right: 20px;
        background-color: #6C4EE2;
    }
    .mobile-menu .medsos .icon:hover label{
        opacity: 1;
        margin: 0px 5px;
    }
}



@media only screen and (max-width: 1111px){
    #scene{
        top: 0%;
    }
}

@media only screen and (max-width: 991px){
    .aboutme .desc-box{
        flex-direction: column;
    }
    .aboutme .desc-box .desc-aboutme, .aboutme .desc-box .desc-familiar{
        width: 100%;
    }
}
@media only screen and (max-width: 768px){
    ul.link-box{
        display: none;
    }
    .mobile-menu .fba{
        position: fixed;
        bottom: 0;
        right: 0;
        width: 60px;
        height: 60px;
        background-color: #6C4EE2;
        border-radius: 50%;
        z-index: 999;
        cursor: pointer;
        margin: 20px;
        box-shadow: 0px 5px 20px rgba(108, 78, 226, 0.281);
    }
    .mobile-menu .fba div{
        position: absolute;
        height: 3px;
        width: 20px;
        background-color: aliceblue;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: .5s ;
    }
    .mobile-menu .fba div:nth-child(1){
        top: 25px;
    }
    .mobile-menu .fba div:nth-child(3){
        top: 35px;
    }
    .mobile-menu .fba.clicked div:nth-child(2){
        left: 10%;
        opacity: 0;
    }
    .mobile-menu .fba.clicked div:nth-child(1), .mobile-menu .fba.clicked div:nth-child(3){
        left: 35%;
        top: 47%;
    }
    .mobile-menu .fba.clicked div:nth-child(1){
        transform: rotate(45deg);
        transition-delay: .2s;
    }
    .mobile-menu .fba.clicked div:nth-child(3){
        transform: rotate(-45deg);
        transition-delay: .2s;
    }
    .mobile-menu ul.menu{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background-color: #D4426E;
        z-index: 998;
        padding: 0;
        margin: 0;
        opacity: 0;
        transform: translateY(100%);
        transition: transform .8s cubic-bezier(.79,.14,.15,.86), opacity .8s cubic-bezier(.79,.14,.15,.86);
    }
    .mobile-menu ul.menu.show{
        opacity: 1;
        transform: translateY(0);
    }
    .mobile-menu ul.menu li{
        opacity: 0;
        transform: translateY(500%);
        transition: transform .5s, opacity .5s;
    }
    .mobile-menu ul.menu.show li:nth-child(1){
        opacity: 1;
        transform: translateY(0px);
        transition-delay: .8s;
    }
    .mobile-menu ul.menu.show li:nth-child(2){
        opacity: 1;
        transform: translateY(0px);
        transition-delay: 1s;
    }
    .mobile-menu ul.menu.show li:nth-child(3){
        opacity: 1;
        transform: translateY(0px);
        transition-delay: 1.2s;
    }

    .mobile-menu ul.menu li{
        margin: 20px 0px;
    }
    .mobile-menu ul.menu li a{
        color: white;
    }

    .mobile-menu .medsos{
        position: fixed;
        bottom: 0;
        right: 0;
        padding: 10px 20px;
        border-radius: 25px;
        background-color: #6C4EE2;
        z-index: 998;
        margin: 20px;
        transition: right .3s ease, opacity .3s ease;
        box-shadow: 0px 5px 20px rgba(108, 78, 226, 0.281);
        opacity: 0;
        display: flex;
    }
    .mobile-menu .medsos .icon{
        opacity: 0;
        transform: translateX(40px);
        transition: transform .3s cubic-bezier(.79,.14,.15,.86), opacity .3s cubic-bezier(.79,.14,.15,.86);
    }
    .mobile-menu .medsos .icon label{
        display: none;
    }
    .mobile-menu .medsos.show .icon{
        transform: translateX(0px);
        opacity: 1;
    }
    .mobile-menu .medsos.show .icon:nth-child(1){
        transition-delay: .1s;
    }
    .mobile-menu .medsos.show .icon:nth-child(2){
        transition-delay: .2s;
    }
    .mobile-menu .medsos.show .icon:nth-child(3){
        transition-delay: .3s;
    }
    .mobile-menu .medsos.show .icon:nth-child(4){
        transition-delay: .4s;
    }
    .mobile-menu .medsos .icon{
        margin: 0px 8px;
        display: flex;
    }

    .mobile-menu .medsos .icon svg{
        width: 12px;
        fill: white;
    }

    .mobile-menu .medsos.show{
        opacity: 1;
        right: 80px;
    }
    .aboutme .desc-box .desc-familiar .familiar-box{
        left: 10%;
    }
}
@media only screen and (max-width: 650px){
    .img-bg img{
        width: 250%;
    }
}
@media only screen and (max-width: 600px){
    .square-top{
        width: 25px;
        height: 100px;
    }
    .square-bottom{
        width: 200px;
        height: 50px;
    }
    .navbar{
        padding: 10px 5%;
    }
    .text-banner{
        padding: 0px 20px;
    }
    .text-banner h1{
        font-size: 54px;
        text-align: center;
    }
    .text-banner p{
        font-size: 14px;
        max-width: 400px;
    }
    .text-banner a.button{
        padding: 15px 25px;
    }
    .brand-text img{
        width: 30px;
    }
    .brand-text{
        font-size: 14px;
    }
    .brand-text span.a{
        font-size: 28px;
        color: #6C4EE2;
        font-weight: bold;
    }
    .brand-text span{
        font-size: 18px;
        color: #D4426E;
    }
    .aboutme .desc-box{
        padding: 0px 3%;
    }

}
@media only screen and (max-width: 500px){
    .text-banner{
        padding: 0px 20px;
    }
    .text-banner h1{
        font-size: 32px;
        text-align: center;
    }
    .text-banner p{
        font-size: 12px;
        max-width: 300px;
        text-align: center;
    }
    .text-banner a.button{
        padding: 10px 20px;
    }
    .aboutme .desc-box .desc-familiar .familiar-box{
        left: 0;
    }
}
@media only screen and (max-width: 400px){
    .aboutme .desc-box .desc-familiar .familiar-box div.html{
        position: relative;
        transform: translate(0%, 84%) rotate(39deg);
    }
    .aboutme .desc-box .desc-familiar .familiar-box div.css{
        position: relative;
        transform: translate(70%, 140%) rotate(-27deg);
    }
    .aboutme .desc-box .desc-familiar .familiar-box div.js{
        position: relative;
        transform: translate(-15%, 85%) rotate(-39deg);
    }
    .aboutme .desc-box .desc-familiar .familiar-box div.ai{
        position: relative;
        transform: translate(170%, -140%) rotate(16deg);
    }
    .aboutme .desc-box .desc-familiar .familiar-box div.figma{
        position: relative;
        transform: translate(70%, 150%) rotate(23deg);
    }
}

